//
//  Production.xcconfig
//  ClassifiedDemo
//
//  Created by Takvir Hossain Tusher on 28/12/20.
//  Copyright © 2020 Samsung Electronics. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Settings
APP_NAME = ClassifiedDemo
APP_BUNDLE_ID = com.test.ClassifiedDemo
